.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.card {
  margin: 20px;
  display: flex;
  justify-content: center;
}
body,
html {
  height: 100%;

  /* The image used */
  background-image: url("https://cdn.wallpapersafari.com/5/24/IvSYOt.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  box-shadow: 0px 3px 26px -1px rgba(161, 97, 97, 0.87);
}
.card-body {
  justify-content: center;
  background-color: #cdbbe5;
  border: none;
}
